body {
    font-family: "Montserrat", serif;
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: "Lora", sans-serif;
    font-style: italic;
}
header {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 10px solid #C5A173;
    
   
    
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    text-align: center;  
    margin-bottom: 50px;
}
footer {
    position: relative;
    border-top: 10px solid #C5A173;
    background-color: #2D2D2A;
    color:#E2D0B8;
    padding-bottom: 10px;
    
}

nav button {
    
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem; 
}

nav {
    grid-row: 1;
    
    font-weight: bold;
    max-height: 50px;
    font-size: 1rem;
    background-color: #fff;
    text-align: right;
    text-transform: uppercase;  
    
    
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;   
}

#topnav, #footnav {
    list-style: none;
    padding: 0 0 5px;
    margin: 0 ;
}
#footnav {
    display: none;
}

#topnav a{
    display: block;
    padding: .75rem 1.25rem;
    text-align: center;
    font-size: 1.2rem;
    
    text-decoration: none;
    color: #2D2D2A;
    background-color: #848241;
  
}
#footnav a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #E2D0B8;
}
#footnav h4 {
    text-align: right;
}
#footnav a:hover, .contactdata a:hover {
    text-decoration: underline;
    color:#D98B55;
    
}  
#footnav li {
    padding: 3px;
    list-style-type: none;
    
    
}


#topnav a:hover {
    background-color: #D98B55;  
} 

#topnav a:active {
    background-color: #D98B55;
}
#menubutton span:nth-child(1) {
    display: block;
}
#menubutton span:nth-child(2) {
    display: none;
}
#menubutton.open span:nth-child(1) {
    display: none;
}
#menubutton.open span:nth-child(2) {
    display: block;
}
.logo {
    display: block;
    margin: 0 auto;
    width: 175px;
    margin-bottom: 10px;
    
      
}

.social {
    position: absolute;
    top: 0;
    text-align: left;
    font-size: 1rem; 
    margin: 0 20px;
    
}
.social a {
    text-align: center;
    margin: 10px 0;
    color: #2D2D2A;
    text-decoration: none;
    padding: 5px;
    width: 1rem;
    height: auto;
    border: 1.5px solid #2D2D2A;
    border-radius: 5px;
}
.footsocial a, .contactdata a {
    text-align: center;
    margin: 10px 0;
    color:#E2D0B8;
    text-decoration: none;
    padding: 5px;
    width: 1rem;
    height: auto;
    border: 1.5px solid #E2D0B8;
    border-radius: 5px;
}

.footcontent {
    margin: 20px auto;
    color:#E2D0B8;
}
.copyright {
    text-align: center;
    border-top: 1px solid #E2D0B8;;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    color:#E2D0B8;
}
.contactdata {
    width: 175px;
    margin: 0 auto; 
    text-align: center;  
}
.contactdata a {
    border: none;
}
.footsocial {
   width: 100px;
   margin: 0 auto;
   color:#E2D0B8;
}
.hero {
    position: relative;
    width: 100vw;
  
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.hero img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
}
.hero h1, .hero p {
    position: absolute;

}
.hero h1 {
    top: 30%;
}
.hero p {
    top: 50%;
}


.hero .linkbutton{
    display: block;
    position: absolute;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 1em;
    border: 2px solid #848241; 
    border-radius: 20px;
    top: 50%;
}
.linkbutton a {
    text-decoration: none;
    color: #2D2D2A;
}

.linkbutton:hover{
    background-color: rgba(217, 139, 85, .6)
    ; 
    border:none;
    
}
.weather {
    margin: 0 auto;
  
}
.forecast {
    border: 1px solid #D98B55;
}
.forecast1, .forecast2, .forecast3 {
    padding-bottom: 15px;
}
.currentweather {
    
    grid-template-columns: 1fr 1fr;
    text-align: center;
    border: 1px solid #D98B55;
    width: 300px;
    margin: 0 auto;
}



.degrees {
   
    font-size: 3rem;
    padding: 20px;
    
}
.farmcontainer {
    background-color: #E2D0B8;
    display: block;
    
    padding: 20px;
   
    
}
.farmcontainer p {
    max-width: 900px;
    margin: 0 auto;
}
.farm1, .farm2 {
    max-width: 475px;
    margin: 0 auto;
}
.farm1 p, .farm2 p {
    margin-bottom: 20px;
}
.farm1 img, .farm2 img{
    width: 400px;
}



.container {
    position: relative;
    width: 50%;
    margin: 30px auto;
  }
  
  .container img {
    display: block;
    width: 250px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #C5A173;
   
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 255px;
    width: 255px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(132, 130, 65, .5);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  



/* ------ fresh ------ */
.mainfresh {
    margin: 30px;
}
.formbody {
    min-width: 360px;
    margin: 0 auto;
    display: block;
    /* padding: 0 1rem; */
    
    
}
form {
    text-align: center;
    border: 1px solid #848241;
    margin-bottom: 50px;
    
    
}
form fieldset {
   border: none;
     margin: 1rem 0;
    padding: .5rem; 
   width: 400px;
   margin: 0 auto;
    
  }
  
form legend {
color: #000;
margin: 0 auto;
padding: 0 .5rem;
}
p.require {
font-size: .6rem;
text-align: right;

}
label {
text-align: left;
}

form label.top, form label.mid , label {
display: block;
padding-top: 1rem;
font-size: 1rem;

}

input, select, textarea {
display: block;
font-size: .9rem;
border: solid 1px #999;
border-radius: 4px;
padding: .75rem;
color: #555;
width: 85%;
max-width: 20rem;
background-color: rgba(201, 200, 200, 0.1);
}

form input.submitBtn {
border: none;
background-color: #D98B55;
color: white;
border-radius: .5rem;
padding: .75rem 1.5rem;
margin: 1.5rem auto 2rem ;
width: 45%;
max-width: 20rem;

font-size: 1.25rem;
}
form input.submitBtn:hover {
    background-color: #D98B55;
    opacity: .9;
    cursor: pointer; 
}


fieldset h2 {

    padding: 10px;

    
}
.response {
   
    max-width: 400px;
    margin: 0 auto;
    display: none;
}
.freshimage {
    display: none;
    max-width: 250px;
}

table, th, td {
border: 1px solid #2D2D2A;
border-collapse: collapse;
}
 table {
    margin: 50px auto;
    box-shadow: 0px 0px 15px lightgrey;  
    font-size: .75rem;  
    
}

th, td {
  
    text-align: center;
    padding: 5px 10px;
    
}


.highlight {
    background-color: #848241;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
  }
thead tr:nth-child(1) {
    color: #fff;
    background-color: #848241;
}
thead :nth-child(2) {
    background-color: #E2D0B8;
}

.highlights img[data-src] {
    filter: blur(.3em);
    
  }
.highlights img {
    margin: 0 20px 20px;
    width: 250px;
    height: auto;
    border-radius: 8px;
    filter: blur(0em);
    transition: filter .5s;
  
} 

/* --- About page --- */

.about {
    background-color: #E2D0B8;
    margin: 0 auto 30px;
    padding: 20px;
    
    
}

.about img {
    width: 300px;
    border-radius: 8px;  
} 
.contact .formbody  {
    width: 300px;
    margin: 0 auto;
}
.contactResponse {
    display: none;
}

#hours {
    background-color: #848241;
    padding: 20px;
    max-width: 250px;
    margin: 0 auto 30px;
}
