
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 30px;
    font-family: "Work Sans", sans-serif;
    text-align: center;  
}


nav button {
    
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem; 
}

nav {
    position: relative;
    justify-content: right;
    /* background-color: #ffbf46; */
    margin: auto auto;
    font-weight: bold;
    max-height: 50px;
    font-size: 1rem;
    background-color: #ffbf46;
    text-align: right;
    text-transform: uppercase;  
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;   
}

h1,h2 {
    /* grid-column: 2/4; */
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: normal;   
}

h1, nav, .date {
    font-family: "Oswald", sans-serif;
}

h2 {  
    font-size: 1.30rem;
    margin: 0 auto 10px;
    font-family: "Work Sans", sans-serif;
}

#topnav {
    list-style: none;
    padding: 0 0 5px;
    margin: 0 ;
}

#topnav a {
    display: block;
    padding: .75rem 1.25rem;
    text-align: center;
    font-size: 1.2rem;
    
    text-decoration: none;
    color: #000;
    background-color: #ffbf46;
    /* background-color: rgb(195,218,224); */
}

#topnav a:hover {
    background-color: #fe4a49;  
} 

#topnav a:active {
    background-color: #fe4a49;
}
#menubutton span:nth-child(1) {
    display: block;
}
#menubutton span:nth-child(2) {
    display: none;
}
#menubutton.open span:nth-child(1) {
    display: none;
}
#menubutton.open span:nth-child(2) {
    display: block;
}
.logo {
    display: block;
    width: 300px;
    /* position: absolute;
    top:0;
    left: 0;
    right: 0;  */
    margin: 0 auto;
    padding: .75rem 0 10px;
}

.headnav {
    display: flex;
    justify-content: space-between;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    text-align: center;
    background-color: #0599CF ;
    padding: 10px 30px;
    color: #FFF;
    font-weight: bold;    
}

.linkbutton {
    position: absolute;
    left: 0; 
    background-color:#FE3130;
    
    border-radius: 10px;
    padding: 8px 10px;
    max-width: 150px;
    font-weight: bold;
    font-size: 1.15rem;  
}
nav .linkbutton  {
    max-height: 40px;
    margin: 4px 20px;
}

.linkbutton a {
    text-decoration: none;
    color: #FFF;   
}

.linkbutton a:hover {
    text-decoration: underline;
    color: #fff;
    
}

.headnav a, .social a {   
    border-radius: 5px;
    border: 2px solid #FFF;
    width: 20px;
    padding: 3px;
    color: #FFF;  
    text-decoration: none;
    text-align: center;    
  }

  footer {
      background-color: #0599CF;
      color: #FFF;
      font-family: "Work Sans", sans-serif;    
  }

.footcontent img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

 .footcontent {
    text-align: center;
    padding: 30px;    
 }

 .footcontent ul, .contactmain  ul {
    list-style: none; 
    font-size: 1rem;  
    padding: 0;   
    
 }

 .footcontent li {  
     font-weight: bold;
     list-style: none;      
     padding: 10px 0; 
     
 }

 .footcontent a {
     color: #FFF;
     text-decoration: underline;   
    
 }

 #contact a, .contactmain a {
     text-decoration: none;
 }

 #contact a:hover, .contactmain a:hover {
    text-decoration: underline;
}

 .footcontent h3 {
     font-family: "Oswald", sans-serif;
     font-size: 2rem;
     margin: 0 auto;
 }

 .footcontent h4 {
     margin-top: 0;   
 }

 .footcontent h3,h4 {
     text-align: center;
 }

 .copyright {
     display: block;
     background-color: #222e50;
     justify-content: right;
     text-align: center;
     padding: 6px 0 6px;
     font-size: .9rem;
 }
 .label  {
     padding: 0 50px;
     margin: 0 ;
 }

 .update {
     margin: 0 auto;
 }

.social {
    text-align: center;  
    font-size: 1rem;
}

.date {
    font-family: "Work Sans", san-serif;
    font-style: normal;
    text-transform: uppercase;
}


    /* border: 1px solid #FE3130; */
    /* border-radius: 15px; */


.hero {
    grid-row: 1;
    
    text-align: left;
    min-height: 300px;
    border-radius: 15px;
    position: relative;
}

.heroimg img{
    width: 100%;
    position: absolute;
    object-fit: cover;
   
}


.hero h3 {
    text-align: left;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.69);
    position: absolute;
    padding: 0 20px;
    
}
.hero .linkbutton{
    background-color: #FE3130;
    border-radius: 10px;
    border: none;
    padding: 10px;
    top: 40%;
    left: 5%;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 1.25rem;
    color: #FFF;  
    position: absolute;
    
    
}

.hero .linkbutton:hover, .join .linkbutton:hover {
    background-color: #fa0201;
    box-shadow:0px 0px 4px 1px rgba(250, 250, 250, 0.2), 0 6px 20px 0 rgba(253, 252, 252, 0.19);
    color: white;
}
.join .linkbutton {
    position: fixed;
    left: 37%;
}


.events {
    grid-row: 2;
    
}
.weather {
    grid-row: 3;
    
    
   
}
.news {
    grid-row: 4;
}
.join {
    grid-row: 6;
    width: 98%;
     
}
.calendar {
    width: 20%;
}
.joinimg, .weathericon {
    width: 30%;
   
}



.temp {
    display: grid;
    grid-template-columns: 1fr 1fr;

   
}
.temp img {
    grid-column: 1;
    margin: 0 0 20px 50px;
}
.temp span{
    grid-column: 2;
    font-size: 2rem ;
    margin: 30px 50px 0 0;
    
}
.tempdetail {
    
    padding: 0 20px;
    
}

.sunimg {
    width: 25%;
    height: auto;
    margin: 0 20px;

}

.spotlights  {
    grid-row: 5;
    background-color: #fff;
    border: 4px solid #FE3130;
    border-radius: 15px;
   
    
}

.spotlights img {
    width: 50%;
   
    
}
.spotlights hr {
    width: 90%;
}
.spot1,.spot2, .spot3 {
    padding: 40px 10px;
     height: 250px;
     margin-bottom: 40px;
     
}
.events a, .spot1 a,.spot2 a, .spot3 a{
    text-decoration: none;
    color: #0599cf;
}
.spot3 {
    display: none;
}


.news, .join, .weather, .events{
    position: relative; 
    
    
}
.join, .weather, .events{
    border: 4px solid #FE3130;
    border-radius: 15px;
    min-height: 375px;  
    
}

.weather p {
   line-height: 5px;
   
}
#weathertype {
    letter-spacing: 3px;
    margin: 0 0 20px 0;
}
.currentweather {
    padding: 15px;
}

.news {
    
    background-color: #ffbf46;
    border-radius: 15px;
    
    min-height: 300px;
   
    
}
.newsrelease, .joinchamber, .eventscolumn {
    margin: 15px;
    position: absolute;              
    top: 50%;                        
    transform: translate(0, -50%); 
    
   
}
.banner {
    
    background-color: rgb(255,191,70, .9);
    font-size: 1rem;
    padding: 15px 0;
    text-align: center;
    top: 70%;
    font-family: "Oswald", sans-serif;
    position: absolute;
    width: 100%;
  
}

/*---- discover css------ */

.welcome {
   
    text-align: left;
    margin: 0 30px;
}
.welcome h1 {
    text-align: left;
}

.highlights img[data-src] {
    filter: blur(.3em);
    
  }
.highlights img {
    margin: 0 20px 20px;
    width: 250px;
    height: auto;
    border-radius: 15px;
    filter: blur(0em);
    transition: filter .5s;
  
} 

  
.demographics h3 {
    background-color: #ffbf46;
    border-radius: 10px;
    padding: 10px;
}

/* -------form css --------- */
.formbody {
    
    padding: 0 1rem;
    
}
form fieldset {
    margin: 1rem 0;
    border: 1px solid #0599CF;
    border-radius: 10px;
    padding: .5rem 2%;
    box-shadow: 0 0 8px rgba(102, 101, 101, 0.2);
    
  }
  
  form legend {
    color: #000;
    margin: 0 auto;
    padding: 0 .5rem;
  }
  p.require {
    font-size: .8rem;
    text-align: right;

  }
  label {
    text-align: left;
  }

  form label.top, form label.mid , label {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
   
  }

 input, select, textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 85%;
    max-width: 20rem;
    background-color: rgba(201, 200, 200, 0.1);
  }
  
  form input.submitBtn {
    border: none;
    background-color: #FE3130;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 auto 2rem ;
    width: 75%;
    max-width: 20rem;
    font-family: "Oswald", sans-serif;
    font-size: 1.25rem;
  }
  form input.submitBtn:hover {
    background-color: #fa0201;
    box-shadow:0px 0px 4px 1px rgba(102, 101, 101, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
  }
  input:required, select:required {
    border-left: #FE3130 solid 6px;
  }

  
  input:required:valid {
    border-left: #ffbf46 solid 6px;
  }
  fieldset li {
      list-style: none;
  }
  .meminfo {
   
    border-radius: 15px;
    background-color: #ffbf46;
    max-width: 40rem;
    max-height: 50rem;
    text-align: center;
}
.meminfo hr {
    
    width: 75%;
}
.meminfo li {
    
    list-style: none;
    padding-right: 40px;
       
}
/* ---- directory css ---- */

.directory h1 {
    grid-column: 1;
    font-size: 1.75rem;
}
.cards {
    max-width: 95%;
    margin: 0 auto;
    grid-column: 1;

  }
  
.directory section {
    margin: 0.25rem .25rem 1rem;
    padding: 1rem;
    background-color: #fff;
    border: 2px solid #0599CF;
    border-radius: 15px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px rgba(102, 101, 101, 0.2);
   
  }
 
  
  .cards img {
    width: auto;
    max-width: 325px;
    height: 100px;
    margin: 10px 0;
  }
  .cards p {
      margin: 5px;
  }
  .cards a, .list a {
      margin: 10px 10px;
      text-decoration: none;
      color: #0599cf;
  }
  a:hover {
      text-decoration: none;
      color: #FE3130;
  }

  .list {
      border: .5px solid #0599cf;
      grid-column: 1;
      box-shadow: 0 0 8px rgba(102, 101, 101, 0.2);
      
  }

.list section {
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    text-align: left;
    
}

.list section:nth-child(odd){
    background-color:#E6F3FC;
}
.list section p {
    margin: 3px;
    
}
 .list img {
     display: none;
 }
.toggleBtns {
    grid-column: 1;
    margin: 15px;

}

#gridBtn, #listBtn {
    width: 50px;
    height: 50px;
    background-color: #0599CF;
    border: none;
    border-radius: 2px;
    margin: 0 3px;
}
#gridBtn:hover, #listBtn:hover {
    box-shadow: 0 0 8px rgba(50, 50, 93, 0.25);
    width: 52px;
    height: 52px;
    
    
}    
/* ---- contact css ---- */

form fieldset {
    background-color: white;
    padding: 20px;
}
.visit {
    margin: 0 auto;
    text-align: left;
    background-color: #ffbf46;
    border-radius: 15px;
   
    padding: 0 30px;
}
.contactmain h4 {
    font-size: 1.25rem;
}
.contactmain h5 {
    font-size: 1rem;
}
.hours {
    text-align: center;
    font-size: 1.1rem;
}
.contactmain a {
    color: black;
}
.contactmain a:hover {
    color: #fa0201;
}