
body {
    font-family: "League Spartan", sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

header, main, footer {
    margin: 1.5rem auto;
    max-width: 760px;
}

header, footer {
    background-color: #BED1CB;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px #476367;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1.5rem;
    place-items: center;   
   
}



footer {
    padding: 1rem;
}

.profilepic {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
    width: 125px;
    height: auto;
  }

h1 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    letter-spacing: .15rem;
    text-shadow: 1px 1px 1px #fff;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.2em;
    color: #476367; 
}
h3 {
    background-color: #476367;
    color: white;
    text-align: center;
}
hr {
    color: #574A45
}
p {
    margin: 0;
}
.update {
    color: #574A45;
    font-size: .95em;
}

.design_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    

}

.hierarchy, .whitespace, .contrast {
    border: 1px solid #000;
    background-color: #e6e6e6;
    border-radius: 8px;
    width: 200px;
    padding: 0 10px 10px 10px;
    
} 

a {
    text-decoration: none;
    
    color: #8F4553;
    font-weight: bolder;
  }
  a:hover {
    text-decoration: underline;
  }